*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}
.styled-table thead tr {
    background-color:  rgba(6, 2, 41);
    color: #ffffff;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(6, 2, 41);
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color:#009879;
}
.intro{
    width: 1200px;
    height: 700px;
    align-items: center;
}
.first-div{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
.second-div{
    padding-left: 40px;
    padding-right: 40px;
}
li {
    display: inline;
    padding: 10px 4px;
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(6, 2, 41 ,5);
    position: absolute;
    top: 0;
    width: 100vw;
  }
nav ul {
      /* Posiziono gli elementi uno accanto all'altro tramite display flex */
      display: flex;
      /* Tolgo i puntini alla lista */
      list-style: none;
  }
  
nav ul li {
      /* margin: 0 10px; */
      margin-left: 10px;
      margin-right: 10px;
      font-size: 20px;
  }
  nav ul li a {
      text-decoration: none;
      color: black;
  }
  nav img {
	width: 80px;
}
.footer  {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    background-color: rgba(6, 2, 41);
    align-items: center;
    height: 40px;

  }
  .list {
    color: white;
  }
  .logo-list{
    fill: white;
  }
  .logo-list li{
    padding: 10px 20px;
  }
  .list li{
    padding: 10px 12px;
  }
  .svgS {
    position:absolute;
    display:inline-block;
    width: 30px;
    height:30px;
    left:770px;
    top:2px;
  }
svg{
    width: 20px;
    height:20px;
    left:265px;
    top:2px;
}